<nav class="max-w-3xl mx-auto px-4 sm:px-8 mt-6">
  <div class="flex flex-col sm:flex-row justify-between items-center py-4 gap-4 sm:gap-0">
    
    <a href="{{ "/" | relURL }}" class="text-xl sm:text-2xl font-extrabold tracking-tighter whitespace-nowrap">
      Adnan Halvadžija
    </a>
    
    <div class="flex items-center gap-4 sm:gap-6 text-[15px] font-medium">
      <a href="{{ "/projects/" | relURL }}" class="nav-link {{ if eq .Section "projects" }}nav-active{{ end }}">Projects</a>
      <a href="{{ "/posts/" | relURL }}" class="nav-link {{ if eq .Section "posts" }}nav-active{{ end }}">Posts</a>
      <a href="{{ "/about/" | relURL }}" class="nav-link {{ if or (eq .Section "about") (eq .RelPermalink "/about/") }}nav-active{{ end }}">About</a>

      <div class="flex items-center gap-1 sm:gap-2 ml-1">
        <a href="/search/" 
           class="flex items-center justify-center w-8 h-8 rounded-md hover:bg-[var(--border)] transition-colors group translate-y-[0.5px]" 
           aria-label="Search">
          {{ $searchClass := "w-5 h-5 text-[var(--muted)] group-hover:text-stei-blue" }}
          {{ partial "icon.html" (dict "name" "search" "class" $searchClass) }}
        </a>

        <button id="theme-toggle" 
                class="cursor-pointer focus:outline-none w-8 h-8 flex justify-center items-center rounded-md hover:bg-[var(--border)] transition-transform hover:rotate-12 active:scale-90 translate-y-[0.5px]" 
                aria-label="Toggle Theme">
          {{ $moonClass := "moon w-5 h-5 text-[var(--muted)] hover:text-stei-blue" }}
          {{ $sunClass := "sun w-5 h-5 text-yellow-400" }}
          {{ partial "icon.html" (dict "name" "moon-star" "class" $moonClass) }}
          {{ partial "icon.html" (dict "name" "sun-medium" "class" $sunClass) }}
        </button>
      </div>
    </div>
  </div>
  
  <div class="h-[1px] bg-[var(--border)] w-full opacity-50"></div>
</nav>