{{/* English: Build the main.js bundle and inject it here */}} {{- $js :=
resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint -}}
<script
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  defer
></script>

<script>
  // English: Since we use Swup/SPA, we need to re-trigger some logic after page changes
  document.addEventListener("swup:contentReplaced", () => {
    if (typeof initIcons === "function") initIcons();
    if (typeof initMagneticEffect === "function") initMagneticEffect();
    if (typeof initScrollProgress === "function") initScrollProgress();
    window.scrollTo(0, 0);
  });
</script>