<a
  href="https://www.linkedin.com/in/halvadzija-adnan/"
  target="_blank"
  class="social-icon-lucide"
  title="LinkedIn"
>
  <i data-lucide="linkedin"></i>
</a>

<a
  href="mailto:halvadzija.adnan@gmail.com"
  class="social-icon-lucide"
  title="Email"
>
  <i data-lucide="mail"></i>
</a>

<a
  href="https://mastodon.social/@ahalvadzija"
  target="_blank"
  class="social-icon-lucide"
  title="Mastodon"
>
  <i data-lucide="at-sign"></i>
</a>

<a
  href="https://dev.to/ahalvadzija"
  target="_blank"
  class="social-icon-lucide"
  title="Dev.to"
>
  <i data-lucide="code-2"></i>
</a>

<a
  href="https://github.com/ahalvadzija"
  target="_blank"
  class="social-icon-lucide"
  title="GitHub"
>
  <i data-lucide="github"></i>
</a>
